*, body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background-image {
    background-image: url('../images/bg-header.png');
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    background-size: cover;
}

.main-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-h1 {
    font-size: 48px;
}

.main-p {
    font-size: 20px;
}

.main-button {
    margin-top: 25px;
    padding: 6px;
    font-size: 1.4em;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    border: none;
}

.header-div {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: #152237;
}

.header-div img {
    width: 84px;
    height: 31px;
}

.header-h2 {
    color: white;
}

.header-search {
    border: 1px solid white;
    display: inline-block;
    position: relative;
    border-radius: 5px;
}

.input-search,
.button-search {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
}

.button-search {
    position: absolute;
    right:0;
    top:0;
    padding: 14px;
    width: 10%;
    cursor: pointer;
}

.button-search:hover {
  background: #ccc;
}

.input-search {
    height: 40px;
    width: 477px;
    font-size: 2em;
    padding-right:45px;
}

.header-buttons {
    margin-right: 40px;
}

.header-buttons button {
    border-radius: 7px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 2px;
    font-size: 1.2em;
}

.inscrip-color {
    background: #44DD8A;
    background: linear-gradient(90deg, rgba(68, 221, 138, 1) 0%, rgba(21, 183, 226, 1) 100%);
}

.star-sec-div {
    opacity: 0.2;
}

.main-section-div-forma {
    align-items: center;
    display: flex;
    gap: 100px;
    padding: 160px;
}

.h2-section-main {
    text-align: left;
    display: inline-block;
    position: relative;
    top: 100px;
    left: 160px;
    font-size: 36px;
}

.price-div {
    display: flex;
    gap: 10px;
    color: white;
    background-color: black;
    width: 31%;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    position: relative;
    bottom: 20px;
    left: 15rem;
}

.top-div-main-section img {
    width: 305px;
    height: 200px;
}

.bottom-div-formations {
    position: relative;
    bottom: 20px;
    left: 15px;
    display: grid;
    gap: 5px;
}

.bottom-div-formations h2 {
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-main-btn {
    border: none;
    background-color: #152237;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    width: 225px;
    height: 40px;
}

.bottom-main-btn-div {
    border: 1px solid black;
    align-items: center;
}