*, body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background-image {
    background-image: url('../images/bg-header.png');
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    background-size: cover;
}

.header-div {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: #152237;
}

.header-div img {
    width: 84px;
    height: 31px;
}

.header-h2 {
    color: white;
}

.header-search {
    border: 1px solid white;
    display: inline-block;
    position: relative;
    border-radius: 5px;
}

.input-search,
.button-search {
    background-color:transparent;
    border:0;
    border-radius: 5px;
}

.button-search {
    position:absolute;
    right:0;
    top:0;
    padding: 14px;
    width: 10%;
    cursor: pointer;
}

.button-search:hover {
  background: #ccc;
}

.input-search {
    height: 40px;
    width: 477px;
    font-size: 2em;
    padding-right:45px;
}

.header-buttons {
    margin-right: 40px;
}

.header-buttons button {
    border-radius: 7px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 2px;
    font-size: 1.2em;
}
