*, body {
    padding: 0;
    margin: 0;
}

.header-div {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: #152237;
}

.header-div img {
    width: 84px;
    height: 31px;
}

.h-search {
    padding: 6px 10px;
    width: 150px;
}

.header-buttons {
    border-radius: 5%;
}
